body {
    color: #333;
    font: 13px 'Helvetica Neue', Helvetica, Arial, Sans;
    margin: 0;
    background: #EEE;
}

#site {
    width: 960px;
    margin: 0 auto;
}

#header {
    background: #1D86D6;
    padding: 10px;
}

#header h1 {
    margin: 0;
    font-size: 20px;
    color: #FFF;
}

#menu {
    margin: 0;
    padding: 0 15px;
    background: #419FE7;
    overflow: hidden;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#menu li {
    float: left;
    list-style: none
}

#menu li a {
    float: left;
    padding: 10px 10px;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

#menu li a:hover,
#menu li a.active {
    background: #FFF;
    color: #419FE7; 
}

#content {
    padding: 10px 10px 40px 10px;
}

#footer {
    margin: 0;
    padding: 10px;
    background: #419FE7;
    overflow: hidden;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #FFF;
    position: fixed;
    bottom: 0;
    width: 940px;
}

#footer p {
    margin: 0;
    text-align: center;
}

#footer p a {
    font-weight: bold;
    color: #1d669d;
}

.message {
    padding: 10px 10px 10px 40px;
    border: 1px solid #DDD;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.message p {
margin: 0;
}
.message.success {
    background: #dbfce2 url('../imgs/success.gif') 10px center no-repeat;
    border-color: #008f0d;
    color: #004506;
}
.message.error {
    background: #fcdbdb url('../imgs/error.gif') 10px center no-repeat;
    border-color: #961818;
    color: #550101;
}
